@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_ForgotPassword2.cshtml";
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>*@

<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title. </h3>
            </div>

            <div class="box-body">
               <p>Please check your email to reset your password.</p> 
             </div>

            </div>
    </div>
    <div class="col-md-3"></div>
</div>

