@{
    ViewBag.Title = "Reset password confirmation";

    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>*@

<div class="row">
    <!-- left column -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Title. </h3>
            </div>

            <div class="box-body">
                <p> Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
            </div>

        </div>
    </div>
    <div class="col-md-3"></div>
</div>
