@model AcademicStaff.Models.Entities.DailyReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}


<div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-xs-12 col-sm-10">
        <div class="box box-default">
            <div class="box-header with-border">

                <h3 class="box-title">Daily Report Details</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-10 col-sm-10">
                        <div class="table-responsive">
                            <table class="table table-success table-bordered" style="background-color:#3c8dbc; color:#ffffff;">

                                <tr>
                                    <th>Staff</th>
                                    <td> @Model.Profile.Fullname</td>
                                </tr>

                                <tr>
                                    <th>Report Date</th>
                                    <td> @Model.ReportDate.Value.ToString("ddd dd MMM, yyyy")</td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">

                <div class="container-fluid">
                    <h3 style="font-weight:bold">Report </h3>
                    <hr style="border:1px solid " />
                    <div class="" style="">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
           
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->


    <div class="col-md-1 col-sm-1"></div>

</div>



