@model AcademicStaff.Models.Entities.DailyReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}


<div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
        <div class="box box-default">
            <div class="box-header with-border">

                <h3 class="box-title">Daily Report Details</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-5">
                        <div class="table-responsive">
                            <table class="table table-success table-bordered" style="background-color:#3c8dbc; color:#ffffff;">
                                <tr>
                                    <th>STAFF NAME</th>
                                    <td>
                                        @if (Model.Profile != null)
                                        {@Model.Profile.Fullname}


                                    </td>
                                </tr>

                                <tr>
                                    <th>REPORT DATE</th>
                                    <td> @Model.ReportDate.Value.ToString("ddd dd MMM, yyyy")</td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
               
                <div class="container-fluid">
                    <h3 style="font-weight:bold;">Report </h3>
                    <hr style="border:1px solid #000000" />
                    <div class="" style="max-height:600px;overflow:scroll; font-size:14px;">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
           

        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->


    <div class="col-md-1 col-xs-1"></div>

</div>



